<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Columbarium - SJA Parish</title>


    <style>
        p{
            font-family: 'Poppins', sans-serif;
            font-style: italic;
            font-size: 25px;
        }
        .checkMark{
            width: 20%;
            height: auto;
            margin-left: 400px;
            margin-bottom: 50px;
        }
    </style>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
          crossorigin="anonymous">



</head>
<body>
<div class="container mt-5">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">San Jose Parish </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href= "@{/reservation-lists}">Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href= "@{/rental-list}">Rentals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href= "@{/payment-list}">Payments</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>

    <h1 align="center">Rental Extension Successfull!</h1>
    <p align="center">Your Rental for the slot in San Jose Parish Columbarium was successful. <br>
        we will review your rental payment and notify you via SMS. Please wait from 1-3 working days to review your Rental Payment</p>
    <br>
    <img class="checkMark" th:src="@{/css/images/success-green-check-mark.png}">

</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/css/js/script.js}"></script>

</body>

</html>