<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Columbarium - SJA Parish</title>

    <link rel="stylesheet" th:href="@{/css/reserveform.css}"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
          crossorigin="anonymous">

</head>
<body>
<div class="container mt-5">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">San Jose Parish </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href= "@{/reserve-lists}">Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href= "@{/rental-list}">Rentals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href= "@{/payment-list}">Payments</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>

    <h3>Update Reservation Info</h3>
    <br>
    <br>
    <form action="#" th:action="@{/reservation/save}"  th:object="${reservation}"
          method="post" class="row g-3">

        <input type="hidden" th:field="*{reservationId}">

        <div class="col-md-6">
            <label for="firstName" class="form-label">Decease First Name</label>
            <input type="text" th:field="*{firstName}"
                   class="form-control" id="firstName" >
        </div>

        <div class="col-md-6">
            <label for="lastName" class="form-label">Decease Last Name</label>
            <input type="text" th:field="*{lastName}"
                   class="form-control" id="lastName" >
        </div>


        <div class="col-md-6">
            <label for="lastName" class="form-label">Reservation Date</label>
            <input type="text" th:field="*{dateReserve}"
                   class="form-control" id="dateRes" readonly>
        </div>

        <div class="col-md-6">
            <label for="lastName" class="form-label">Slot Name</label>
            <input type="text" th:field="*{slotNo}"
                   class="form-control" id="slotNo" readonly>
        </div>

        <div class="col-md-6">
            <label for="sel1" class="form-label">Select list:</label>
            <select class="form-control" id="sel1" th:field="*{paymentStatus}">
                <option value="Not Paid">Not Paid</option>
                <option value="Paid">Paid</option>
                <option value="Due">Due</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="lastName" class="form-label">Slot Name</label>
            <input type="text" th:field="*{deathCertificate}"
                   class="form-control" id="deathCert" readonly>
        </div>

        <div class="col-md-12">
            <input type="submit" class="btn btn-primary" value="Save">
            <a th:href="@{/reservation-lists}"> <input type="button" class="btn btn-danger" value="Cancel"> </a>
        </div>


    </form>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/css/js/script.js}"></script>

</body>

</html>