<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Columbarium - SJA Parish</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/reserveform.css}"/>

</head>
<body>
<div class="modal-background">
    <div class="hide-modal">X</div>
    <div class="modal-content">
        <div class="modal-title">
            <ul>
                <li class="list1" tabindex="1" >A</li>
                <li class="list2" tabindex="2">B</li>
                <li class="list3" tabindex="3">C</li>
                <li class="list4" tabindex="4">D</li>
            </ul>
        </div>
        <div class="slots"></div>
        <h4 class="notAvailable">Not Available</h4>
        <div class="slotsRent"></div>

        <h4 class="Avail">Available</h4>
        <div class="slotsNotRented"></div>


    </div>
</div>


<div class="container mt-5">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">San Jose Parish </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href= "@{/reservation-lists}">Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href= "@{/rental-list}">Rentals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href= "@{/payment-list}">Payments</a>
                </li>
            </ul>
        </div>

        <!--                    <tr-->
        <!--                            th:each="student, iStat : ${students}"-->
        <!--                            th:style="${iStat.odd}? 'font-weight: bold;'"-->
        <!--                            th:alt-title="${iStat.even}? 'even' : 'odd'">-->
        <!--                        <td th:text="${student.id}" />-->
        <!--                        <td th:text="${student.name}" />-->
        <!--                    </tr>-->



    </nav>

    <br>

    <h2>Reservation for Columbarium</h2>
    <br>
    <form action="#" th:action="@{/new-reservation/save}" th:object="${reservation}"
          method="post" enctype="multipart/form-data" class="row g-3">

        <div class="col-md-6">
            <label for="firstName" class="form-label">Decease First Name</label>
            <input type="text" th:field="*{firstName}"
                   class="form-control" id="firstName" required>
        </div>

        <div class="col-md-6">
            <label for="lastName" class="form-label">Decease Last Name</label>
            <input type="text" th:field="*{lastName}"
                   class="form-control" id="lastName" required>
        </div>

        <div class="col-md-6">
            <label for="dateStart" class="form-label">Date Reservation</label>
            <input type="date" th:field="*{dateReserve}"
                   class="form-control" id="dateStart" min="2021-10-01" max="2099-12-31" required>
        </div>
        <div class="col-md-6">
            <label for="dateExp" class="form-label">Reservation Expiration</label>
            <input type="text"
                   class="form-control" id="dateExp" required readonly>
        </div>

        <div class="col-md-6">
            <label for="deathCert">Death Certificate File of the Decease</label>
            <input type="file"
                   class="form-control-file" id="deathCert" name="imageFile">
        </div>

        <div class="col-md-2">
            <label for="slotNo" class="form-label">Slot Chosen</label>
            <input type="text" th:field="*{slotNo}"
                   class="form-control" id="slotNo" readonly required>
        </div>
        <div class="col-md-2">
            <label for="slotNo" class="form-label">Slot Map</label>
            <input type="button" class="btn btn-dark" value="Change your Slot" id="choose-slot" disabled="disabled"
                   th:attr="data-get-slots-url=@{/get-slots}">
        </div>


        <div class="col-md-12">
            <input type="submit" class="btn btn-primary" value="Next">
            <a th:href="@{/reservation-lists}"> <input type="button" class="btn btn-danger" value="Cancel"> </a>
        </div>

        <input type="hidden" id="slotLetterId"/>
    </form>
</div>

</body>
<script type="text/javascript" th:src="@{/css/js/jquery-3.6.0.min.js}"></script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>-->
<script type="text/javascript" th:src="@{/css/js/script.js}"></script>

</body>

</html>