<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - San Jose Parish Columbarium</title>

    <link rel="stylesheet" href="/css/signup-form.css">

</head>
<body>
<div class="container">
    <div class="title">Edit User </div>
    <form th:action="@{/users/save}" method="post"
          th:object="${user}">

        <input type="hidden" th:field="*{id}" />

        <div class="user-details">

            <div class="input-box">
                <span class="details">First Name</span>
                <input type="text" class="form-control" th:field="*{FirstName}" required
                       minlength="2" maxlength="20"/>
            </div>

            <div class="input-box">
                <span class="details">Last Name</span>
                <input type="text" class="form-control" th:field="*{lastName}" required
                       minlength="2" maxlength="20"/>
            </div>

            <div class="input-box">
                <span class="details">Email</span>
                <input type="email" class="form-control" th:field="*{email}" required />
            </div>


            <div class="input-box">
                <span class="details">Password</span>
                <input type="password" class="form-control" th:field="*{password}" required
                       minlength="6" maxlength="10"/>
            </div>


            <div class="input-box">
                <span class="details">Address</span>
                <input type="text" class="form-control" th:field="*{address}" required
                       minlength="2" maxlength="20"/>
            </div>

            <div class="input-box">
                <span class="details">Mobile Number</span>
                <input type="text" placeholder="09xxxxxxxx" required>
            </div>

            <div class="gender-details">
                <span class="details">Role</span>

                <th:block th:each="role : ${listRoles}">
                    <input type="checkbox" th:field="*{roles}"
                    th:value="${role.id}"
                    th:text="${role.name}" />
                </th:block>
            </div>



        </div>

        <div class="gender-details">
            <input type="radio" name="gender" id="dot-1">
            <input type="radio" name="gender" id="dot-2">
            <span class="gender">Gender</span>
            <div class="category">

                <label for="dot-1">
                    <span class="dot one"></span>
                    <span class="gender">Male</span>
                </label>

                <label for="dot-2">
                    <span class="dot two"></span>
                    <span class="gender">Female</span>
                </label>

            </div>
        </div>

        <div class="button">
            <input type="submit" value="Update">
        </div>

    </form>
</div>
</body>
</html>